/*===== PREPARE =====*/
*,
*:before,
*:after
  box-sizing border-box
  margin 0
  padding 0

h1,
h2,
h3,
h4,
h5,
h6
  margin 0

html,
body
  margin 0
  -webkit-font-smoothing antialiased
  font-family 'NewBaskervilleC', sans-serif
  font-weight normal
  font-size 16px
  height 100%
  display flex
  flex-direction column

.page
  flex 1 0 auto

.wrapper
  width 100%
  max-width 1260px
  margin 0 auto

/*===== HEADER =====*/

.header
  width 100%
  padding 13px 10px
  color #fff
  background #282a2d
  margin-bottom 60px

.header__inner
  display flex
  align-items center

.logo
  width 40px
  height 55px
  margin-right 30px
  opacity .5

.header__title
  font-size 32px

.header__subtitle
  font-size 11px
  color #ebf4ff
  opacity .5

/*===== FILTER =====*/

.filter
  margin-bottom 20px
  padding 0 10px
  font-family '', sans-serif

.filter__inner
  display flex
  flex-wrap wrap
  gap 30px

.filter__item
  position relative
  color #9fa2a8
  cursor pointer
  line-height 1
  text-decoration none
  text-transform uppercase
  transition color 0.3s ease-out
  list-style-type none

  &:after
    display block
    position absolute
    top 20px
    left 0
    width 0
    height 2px
    background-color black
    content ""
    transition width 0.3s ease-out

  &:hover
    color #000

.filter__item:hover:after,
.filter__item:focus:after
  width 100%

.active
  color #000

  &:after
    width 100%
    display block
    position absolute
    top 20px
    left 0
    height 2px
    background-color black
    content ""
    transition width 0.3s ease-out

/*===== GALLERY =====*/

.gallery
  padding 10px 0
  max-width 1260px
  margin 0 auto
  display grid
  grid-gap 20px
  grid-template-columns repeat(auto-fit, minmax(250px, 1fr))
  grid-auto-rows 200px
  grid-auto-flow dense
  margin-bottom 80px

.gallery__item
  position relative

  &:hover
    .gallery__content
      opacity 1

.v-stretch
  grid-row span 2

.h-stretch
  grid-column span 2

.big-stretch
  grid-column span 2
  grid-row span 2

  .gallery__contentinner
    top 420px

  .swiper-slide
    height 420px

  .loader
    height 420px

.gallery__content
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  height 100%
  cursor pointer
  opacity 0
  text-align center
  position absolute
  top 0
  left 0
  z-index 2
  transition opacity .2s linear

.gallery__contentinner
  width 100%
  height 0
  position absolute
  top 200px
  left 0
  z-index 2

.gallery_blackout
  background-color rgba(3, 21, 36, .6)

.gallery__content_bottom
  display flex
  flex-direction column
  justify-content flex-end
  align-items end
  cursor pointer
  opacity 1
  position absolute
  bottom 17px
  left 20px
  z-index 2
  transition opacity .2s linear
  font-size 24px
  color #fff

.gallery__photo
  width 100%
  height 100%
  object-fit cover

.swiper-slide
  height 200px

  img
    width 100%
    height 100%
    object-fit cover

.swiper-container
  position static

.slide__text
  background #313336
  height 100%
  color #abaeb3
  font-family '', sans-serif
  font-size 13px
  line-height 1.7
  display flex
  flex-direction column
  justify-content center
  padding 40px 40px 80px 20px

.arrow
  width 22px
  height 22px
  margin-right 22px
  fill rgb(255, 255, 255)
  opacity .15
  transition opacity .2s linear

  &:first-child
    margin-right 10px

  &:hover
    opacity 1

.loupe
  width 42px
  height 43px

.play
  width 42px
  height 43px

.gallery__arrow
  position absolute
  right 0
  bottom 15px
  z-index 1000

.loader
  height 200px

.align_start
  text-align left
  padding 30px
  align-items flex-start

.gallery__title
  margin-bottom 5px
  font-size 36px
  color #fff

.gallery__text
  font-size 20px
  margin-left 20px
  color #fff

  li
    margin 25px 15px

    &:last-child
      margin-bottom -20px

/*===== FOOTER =====*/

.footer
  flex 0 0 auto
  width 100%
  padding 14px 10px
  color #6b7076
  background #282a2d
  font-size 16px

.footer__inner
  display flex
  justify-content space-between
  align-items center

.footer__seekers
  display flex
  align-items center
  font-size 16px

.logoFooter
  width 28px
  height 33px
  margin-left 20px

span
  color white
  white-space pre-wrap

/*===== MODALS =====*/

.popup__inner
  display block
  width 100%
  height 100%

.popup-modal
  &.is--visible
    opacity 1
    pointer-events auto

.popup-modal__close
  position absolute
  right -33px
  top -27px
  cursor pointer
  width 28px
  height 28px
  opacity .5
  transition opacity .2s ease

  &:hover
    width 28px
    height 28px
    opacity 1

.modal-overlay
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  z-index 100000
  background-color rgba(0, 0, 0, 0.7)
  display flex
  align-items center
  justify-content center
  height 100vh
  width 100%
  opacity 0
  visibility hidden
  transition all 0.3s ease-in-out

.modal
  position relative
  align-items center
  justify-content center
  display none
  width auto
  height auto
  overflow inherit

.modal-overlay--visible
  opacity 1
  visibility visible
  transition all 0.3s ease-in-out

.modal--visible
  display block

.video
  width 740px
  height 480px


/*===== MEDIA =====*/

@media screen and (max-width: 515px)
  .v-stretch
    grid-row span 2

  .h-stretch
    grid-column span 1

  .big-stretch
    grid-column span 1
    grid-row span 2

  .gallery__text
    li
      margin 0

      &:last-child
        margin-bottom 0

  .popup-modal__close
    right 48%
    top -45px

  .video
    width 100%
    height 100%